.d-block {
		display: block;
}

.d-flex {
		display: flex;
}

.f-row {
		flex-direction: row !important;
}

.f-col {
		flex-direction: column !important;
}

.f-center {
		@include box-center(center, center);
}

.f-around {
		justify-content: space-around;
}

.f-between {
		justify-content: space-between;
}

.f-start {
		justify-content: flex-start;
}

.f-end {
		justify-content: flex-end;
}