@import './../settings/variables';

.fz-16 {
    font-size: rem(16px);
}

.fz-20 {
    font-size: rem(20px);
}

.fz-24 {
    font-size: rem(24px);
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.text-color-dark {
    color: $black-text;
}
.text-color-white {
    color: $white-text;
}
