.m10 {
    margin: rem(10px);
}

.m20 {
    margin: rem(20px);
}

.mt10 {
    margin-top: rem(10px);
}

.mt20 {
    margin-top: rem(20px);
}

.mb10 {
    margin-bottom: rem(10px);
}

.mb20 {
    margin-bottom: rem(20px);
}

.ml10 {
    margin-left: rem(10px);
}

.ml20 {
    margin-left: rem(20px);
}

.mr10 {
    margin-right: rem(10px);
}

.mr20 {
    margin-right: rem(20px);
}
