.m10 {
    margin: rem(10px);
}

.m20 {
    margin: rem(20px);
}

.mt10 {
    margin-top: rem(10px);
}

.mt20 {
    margin-top: rem(20px);
}

.mt25 {
    margin-top: rem(25px);
}

.mt30 {
    margin-top: rem(30px);
}

.mt40 {
    margin-top: rem(40px);
}

.mt50 {
    margin-top: rem(50px);
}

.mt100 {
    margin-top: rem(100px);
}

.mb10 {
    margin-bottom: rem(10px);
}

.mb15 {
    margin-bottom: rem(15px);
}

.mb20 {
    margin-bottom: rem(20px);
}

.mb25 {
    margin-bottom: rem(25px);
}

.mb45 {
    margin-bottom: rem(45px);
}

.mb50 {
    margin-bottom: rem(50px);
}

.ml10 {
    margin-left: rem(10px);
}

.ml20 {
    margin-left: rem(20px);
}

.mr10 {
    margin-right: rem(10px);
}

.mr20 {
    margin-right: rem(20px);
}
