.arrow {
    display: flex;

    width: 25px;
    height: 50px;

    cursor: pointer;
    svg {
        fill: $white;
    }
    &--left {
        transform: rotate(180deg);

    }
    &--right {
        transform: rotate(0deg);
    }
    @include box-center(center, center);
}