.about {
	background-color: $black;
	padding-top: 100px;
	padding-bottom: 100px;
	&__content {
		width: 1022px;
	}
}

.acticle {
	width: 553px;
	h2 {
		text-align: left;
		margin-bottom: 50px;
	}
}

.metrics {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 90px;
	width: 215.9px;
	height: 254px;
}

@include for-tablet-only {
	.about {
		padding-top: 75px;
		padding-bottom: 75px;
		&__content {
			width: 838px;
		}
	}

	.acticle {
		width: 480px;
	}
}
