.environment {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $black;
  .acticle {
    width: 100%;
    margin-bottom: 50px;
    &__text-holder {
      width: 20px;
    }
    &__title {
      margin-bottom: 25px;
    }
    &__description {
      width: 530px;
      height: 75px;
      padding-bottom: 7px;
    }
  }
}
