.navbar-wrapper {
    position: fixed;
    z-index: 100000;
    left: 0;

    display: block;

    width: 100vw;
    height: 75px;
    padding-top: 25px;

    background-color: #1818187e;
    .container {
        position: relative;
        header {
            width: 100%;
        }
    }
}

@include for-tablet-only {
    .navbar-wrapper {
        position: fixed;
        z-index: 100000;
        left: 0;

        display: block;

        width: 100vw;
        height: 62px;
        padding-top: 5px;

        background-color: #1818187e;
    }
}