.specifications {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $black;
  &__content {
    height: 560px;
  }
  h2 {
    margin-bottom: 50px;
  }
  &__haracteristics {
    width: 1197px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
  }
  &__item {
    display: inline-flex;
    flex-direction: column;
    width: 286px;
    height: 100px;
    &-text {
      margin-bottom: 25px;
    }
  }
}
