
@font-face {
    font-family: 'SF Pro Display'; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    font-weight: 300; /* определяет нормальное начертание символов - это значение по умолчанию */
    font-style: normal; /* указываем, что стиль шрифта обычный - это значение по умолчанию */
    src: url('../../fonts/SFProDisplay-Light.woff2') format('woff2'); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-display: swap; /* позволяет подгружать шрифт в процессе загрузки страницы */
}
@font-face {
    font-family: 'SF Pro Display'; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    font-weight: 400; /* определяет нормальное начертание символов - это значение по умолчанию */
    font-style: normal; /* указываем, что стиль шрифта курсивный */
    src: url('../../fonts/SFProDisplay-Regular.woff2') format('woff2'); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-display: swap; /* позволяет подгружать шрифт в процессе загрузки страницы */
}

@font-face {
    font-family: 'SF Pro Display'; /* задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов */
    font-weight: 500; /* определяет жирное начертание символов */
    font-style: normal; /* указываем, что стиль шрифта обычный - это значение по умолчанию */
    /* для упрощения работы со шрифтами допускается использовать одинаковое имя, но при этом начертание или стиль шрифта должен отличаться.
 IE 8 и ниже не поддерживают такой подход и если Вы хотите поддерживать эти браузеры, то Вам необходимо называть каждый шрифт по разному и более детально стилизовать каждый селектор */
    src: url('../../fonts/SFProDisplay-Medium.woff2') format('woff2'); /* задаем путь к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) */
    font-display: swap; /* позволяет подгружать шрифт в процессе загрузки страницы */
}