@import "../../../settings/_mixins.scss";

.navbar {
	min-width: 1px;
	width: 1200;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	// margin-bottom: 40px;

	&__menu {
		width: 435px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__contacts {
		width: 460px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@include for-tablet-only {
		.navbar {
			width: 100%;
			&__menu {
				width: 376px;
			}
			&__contacts {
				width: 431px;
			}
		}
	}
}
